#Fichier permettant de ne pas faire suivre par GIT certains types de fichiers

*.x
*.o
*.out
*.txt
*.json
Rapport IN104/main.aux
Rapport IN104/main.fdb_latexmk
Rapport IN104/main.log
Rapport IN104/main.fls
Rapport IN104/main.synctex.gz
